.vscode/*
com/mts/__pycache__/*
com/mts/config/__pycache__/*
com/mts/logger/__pycache__/*
com/mts/logger/django/__pycache__/*
log_files/*
media/*
mysite/__pycache__/*
static/*
website/__pycache__/*
website/migrations/*
website/models/__pycache__/*
